@import "src/assets/scss/ui/font-family";
@import "src/assets/scss/global/container";
@import "src/assets/scss/global/breakpoints";

:root {
  font-family: $inter;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

body {
  min-width: 1400px;
}

#app {
  height: 100%;
}
