@import "src/assets/tokens/scss/base";
@import "src/assets/scss/ui/font-family";
@import "src/assets/scss/ui/mixins/inputs";

.input {
  border: 1px solid $base-color-neutral-0;
  background-color: transparent;
  border-radius: $br-small-l;
  font-weight: 400;
  font-size: $fs-small-l;
  line-height: $lh-fixed-22;
  outline: none;

  &-primary {
    @include input-primary;
  }
}
