@import "src/assets/scss/_ui/font-family";

@mixin button-primary {
  font-family: $inter;
  font-style: normal;
  padding: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.408px;
  color: #FFF;
}
