@import "src/assets/tokens/scss/_base";

.app-layout {
  background: $base-color-neutral-50;
  overflow-x: hidden;
  position: relative;

  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
  }
}
