@import "src/assets/tokens/scss/base";

$some-page-theme-styles: (
  light: (
    time-color: $base-color-neutral-0,
    container-bg: $app-theme-light-color-bcg-secondary,
    title-color: $app-theme-light-color-text-icon-main,
    subtitle-color: $base-color-neutral-10,
    picture-border-radius: $br-app-style-round-image,
    input-border: $app-theme-light-color-divider-border,
    input-placeholder: $app-theme-light-color-text-icon-secondary,
    input-bg: $app-theme-light-color-surface-semi-opaque,
    input-color: $base-color-neutral-10,
    submit-bg: $base-color-blue-50,
    submit-bg-hover: $base-color-blue-60,
    footer-swipe-bar-bg: $base-color-neutral-0,
  ),
  dark: (
    time-color: $base-color-neutral-100,
    container-bg: #333333,
    title-color: $app-theme-dark-color-text-icon-main,
    subtitle-color: $app-theme-dark-color-text-icon-primary,
    picture-border-radius: $br-app-style-round-image,
    input-border: $app-theme-dark-color-divider-border,
    input-placeholder: $app-theme-dark-color-text-icon-secondary,
    input-bg: $app-theme-dark-color-surface-semi-opaque,
    input-color: $base-color-neutral-90,
    submit-bg: $base-color-blue-50,
    submit-bg-hover: $base-color-blue-60,
    footer-swipe-bar-bg: $base-color-neutral-100,
  )
);
