@import "src/assets/tokens/scss/base";

$some-page-theme-styles: (
  light: (
    time-color: $base-color-neutral-0,
    container-bg: $app-theme-light-color-bcg-secondary,
    title-color: $app-theme-light-color-text-icon-main,
    subtitle-color: $app-theme-light-color-text-icon-secondary,
    input-border: $app-theme-light-color-divider-border,
    input-placeholder: $app-theme-light-color-text-icon-secondary,
    input-bg: $app-theme-light-color-surface-semi-opaque,
    input-color: $base-color-neutral-10,
    submit-bg: $app-theme-light-color-button-primary,
    submit-color: $app-theme-light-color-button-on-primary,
    footer-swipe-bar-bg: $base-color-neutral-0,
  ),
  dark: (
    time-color: $base-color-neutral-100,
    container-bg: $app-theme-dark-color-bcg-secondary,
    title-color: $app-theme-dark-color-text-icon-main,
    subtitle-color: $app-theme-dark-color-text-icon-secondary,
    input-border: $app-theme-dark-color-divider-border,
    input-placeholder: $app-theme-dark-color-text-icon-secondary,
    input-bg: $app-theme-dark-color-surface-semi-opaque,
    input-color: $base-color-neutral-90,
    submit-bg: $app-theme-dark-color-button-primary,
    submit-color: $app-theme-dark-color-button-on-primary,
    footer-swipe-bar-bg: $base-color-neutral-100,
  )
);
