@import "./container";
@import "./breakpoints";
@import "src/assets/scss/_ui/_font-family";

:root {
  font-family: $inter;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

body {
  min-width: 1400px;
}
