@import "./container";
@import "./breakpoints";
@import "src/assets/scss/_ui/_font-family.scss";
//@import "src/assets/tokens/scss/_app_kit.css";
//@import "src/assets/tokens/scss/_app_style-round.css";
//@import "src/assets/tokens/scss/_app_style-square.css";
//@import "src/assets/tokens/scss/_app_theme-dark.css";
//@import "src/assets/tokens/scss/_app_theme-light.css";
//@import "src/assets/tokens/scss/_base.scss";

:root {
  font-family: $inter;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html, body {
  height: 100%;
  min-width: 1400px;
}
