@import "src/assets/tokens/scss/base";
@import "src/assets/scss/ui/font-family";

@mixin button-primary {
  font-family: $inter;
  font-style: normal;
  padding: 14px;
  font-weight: 500;
  font-size: #{$fs-small-l}px;
  line-height: $lh-perc-140;
  letter-spacing: -0.408px;
  color: $base-color-neutral-100;
}
