@import "src/assets/tokens/scss/base";
@import "src/assets/scss/ui/font-family";

@mixin input-primary {
  font-family: $inter;
  padding: 15px;
  font-size: #{$fs-small-xl}px;
  color: $base-color-neutral-100;
  border: 1px solid $base-color-neutral-70;
}
