@import "src/assets/tokens/scss/_base";
@import "src/assets/scss/_ui/font-family";
@import "src/assets/scss/_ui/mixins/buttons";
@import "src/assets/scss/_global/breakpoints";

.button {
  border: none;
  text-decoration: none;
  position: relative;
  background-color: $base-color-neutral-50;
  transition: 0.3s all;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.button-primary {
    @include button-primary;
  }
}
