@import "src/assets/scss/_ui/font-family";
@import "src/assets/scss/_ui/mixins/buttons";
@import "src/assets/scss/_global/breakpoints";

.button {
  border: none;
  text-decoration: none;
  position: relative;
  background-color: #707274;

  &:hover {
    cursor: pointer;
  }

  &.button-primary {
    @include button-primary;
  }
}
