@import "src/assets/tokens/scss/_base";
@import "src/assets/scss/_ui/font-family";
@import "src/assets/scss/_ui/mixins/inputs";

.input {
  border: 1px solid $base-color-neutral-0;
  background-color: transparent;
  border-radius: #{$br-small-l}px;
  font-weight: $fw-inter-400;
  font-size: #{$fs-small-l}px;
  line-height: #{$lh-fixed-22}px;
  outline: none;

  &-primary {
    @include input-primary;
  }
}
