@import "src/assets/tokens/scss/_base.scss";
@import "src/components/pages/home/styles/mixins/some-page-themable";

$some-page-theme-styles: (
  light: (
    container-bg: $base-color-neutral-95,
    title-color: $base-color-neutral-10,
    subtitle-color: $base-color-neutral-10,
    submit-bg: $base-color-blue-50,
    input-border: $base-color-neutral-90,
    input-placeholder: $base-color-neutral-40,
    input-bg: $base-color-neutral-90
  ),
  dark: (
    container-bg: $base-color-neutral-20,
    title-color: $base-color-neutral-100,
    subtitle-color: $base-color-neutral-80,
    submit-bg: $base-color-blue-50,
    input-border: $base-color-neutral-10,
    input-placeholder: $base-color-neutral-60,
    input-bg: $base-color-neutral-10
  )
);

.some-page {
  border-radius: 8px;
  background: $base-color-neutral-100;

  @include some-page-themable($some-page-theme-styles);

  &__wrapper {
    width: 375px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    & > * {
      text-align: center;
    }
  }

  &__title {
    font-style: normal;
    font-weight: #{$typo-title-middle-font-weight}px;
    font-size: #{$typo-title-middle-font-size}px;
    line-height: #{$typo-title-middle-line-height}px;
    letter-spacing: -0.408px;
    margin: 0 0 16px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: #{$typo-subtitle-small-font-weight}px;
    font-size: #{$typo-subtitle-small-font-size}px;
    line-height: #{$typo-subtitle-small-line-height}px;
    letter-spacing: -0.408px;
    margin: 0 0 44px;
  }

  &__picture {
    margin: 0 0 56px;
  }

  &__fields {
    margin: 0 0 16px;

    form {
      width: 100%;

      fieldset {
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &__field {
    display: flex;

    input {
      width: 100%;

      &::placeholder {
        letter-spacing: -0.408px;
      }
    }
  }

  &__submit {
    &:deep(button) {
      width: 100%;
      border-radius: 8px;
    }
  }
}
