@import "src/assets/tokens/scss/_base";
@import "src/components/pages/home/styles/mixins/some-page-themable";
@import "src/components/pages/home/styles/variables/some-page-themes";

.some-page {
  border-radius: 8px;
  background: $base-color-neutral-100;

  @include some-page-themable($some-page-theme-styles);

  &__wrapper {
    width: 375px;
    padding: 65px 16px 16px;
    display: grid;
    position: relative;

    & > * {
      text-align: center;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__time {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
  }

  &__bang {
    width: 164px;
    height: 32px;
    background-color: $base-color-neutral-0;
    border-radius: 0 0 15px 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: #{$typo-title-middle-font-size}px;
    line-height: #{$typo-title-middle-line-height}px;
    letter-spacing: -0.408px;
    margin: 0 0 16px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: #{$typo-subtitle-small-font-size}px;
    line-height: #{$typo-subtitle-small-line-height}px;
    letter-spacing: -0.408px;
    margin: 0 0 44px;
  }

  &__picture {
    margin: 0 0 56px;
  }

  &__fields {
    margin: 0 0 16px;

    form {
      width: 100%;

      fieldset {
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &__field {
    display: flex;

    input {
      width: 100%;

      &::placeholder {
        letter-spacing: -0.408px;
      }
    }
  }

  &__submit {
    margin: 0 0 39px;

    &:deep(button) {
      width: 100%;
      border-radius: 8px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__swipe-bar {
    width: 134px;
    height: 5px;
    border-radius: 8px;
  }
}
