@import "src/assets/tokens/scss/base";
@import "src/assets/scss/global/animations";
@import "src/components/pages/home/styles/mixins/some-page-themable";
@import "src/components/pages/home/styles/variables/some-page-themes";

.some-page {
  border-radius: 35px;
  background: $base-color-neutral-100;
  transition: $base-transition-rule;

  @include some-page-themable($some-page-theme-styles);

  &__wrapper {
    width: 375px;
    padding: 65px $space-app-kit-body-margins $space-app-kit-body-margins;
    display: grid;
    position: relative;
    box-sizing: border-box;
    transition: $base-transition-rule;

    & > * {
      text-align: center;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__time {
    font-weight: 600;
    font-size: 17px;
    line-height: $lh-fixed-22;
    letter-spacing: -0.408px;
    transition: $base-transition-rule;
  }

  &__bang {
    width: 164px;
    height: 32px;
    background-color: $base-color-neutral-0;
    border-radius: 0 0 15px 15px;
    transition: $base-transition-rule;
  }

  &__icons {
    margin: 10px 10px 0 0;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: $typo-title-middle-font-size;
    line-height: $typo-title-middle-line-height;
    letter-spacing: -0.408px;
    margin: $space-app-kit-header-title-tb $space-app-kit-header-title-lr;
    transition: $base-transition-rule;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: $typo-subtitle-small-font-size;
    line-height: $typo-subtitle-small-line-height;
    letter-spacing: -0.408px;
    margin: $space-app-kit-header-subtitle-tb $space-app-kit-header-subtitle-lr;
    transition: $base-transition-rule;
  }

  &__picture {
    margin: $space-app-kit-images-tb $space-app-kit-images-lr;
    transition: $base-transition-rule;

    &:deep(.app-picture) {
      img {
        border-radius: $br-app-style-round-image;
        transition: $base-transition-rule;
      }
    }
  }

  &__fields {
    margin: $space-app-kit-field-tb 0;
    transition: $base-transition-rule;

    form {
      width: 100%;

      fieldset {
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: $space-app-kit-field-stack-gap;
        margin-inline-start: 0;
        margin-inline-end: 0;
        transition: $base-transition-rule;
      }
    }
  }

  &__field {
    display: flex;

    input {
      width: 100%;
      border-radius: $br-app-style-round-field;
      transition: $base-transition-rule;

      &::placeholder {
        letter-spacing: -0.408px;
        color: $app-theme-light-color-text-icon-tertiary;
        transition: $base-transition-rule;
      }
    }
  }

  &__submit {
    margin: 0 0 $space-app-kit-actions-wrapper-bottom;
    transition: $base-transition-rule;

    &:deep(button) {
      width: 100%;
      border-radius: $br-app-style-round-actions;
      transition: $base-transition-rule;
    }
  }

  &__footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__swipe-bar {
    width: 134px;
    height: 5px;
    border-radius: 8px;
  }
}
