.main-content {
  min-height: 100vh;
  position: relative;

  [class*="-page"] {
    margin: 30px 0;
  }

  &__badge {
    position: absolute;
    top: -80px;
    right: -100px;
    transform: rotate(45deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
    width: 200px;
    height: 150px;
    background-image:
            linear-gradient(to bottom right, transparent 50%, #F00 0),
            linear-gradient(to top right, #F00 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
  }
}
